<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/reg_page.css">
    <link rel="icon" href="../static/check-solid.svg" type="image/x-icon">
</head>
<body>
    <div class="blob"></div>
    <div class="blur"></div>
    <div class="container">
        <p class="reg">Регистрация</p>
        <form action="" method="post">
            <input onclick="func()" class="name" type="text" name="username" placeholder="Имя" required autocomplete="jghuou475y92y4y4yf4fh">
            <div class="password-div">
                <input onclick="func()" class="password" type="password" name="password1" placeholder="Пароль" required>
                <input onclick="func()" id="visible" class="visible" type="checkbox">
            </div>
            <input onclick="func()" class="password" type="password" name="password2" placeholder="Повторите пароль" required>
            <button class="button" type="submit">Зарегистрироваться</button>
            {% csrf_token %}
        </form>
        <p class="error" id="error">
            {{error}}
        </p>
        <p class="log">Уже есть аккаунт? <a href="log">Войдите!</a></p>
        <script src="../static/script.js"></script>
    </div>
</body>
</html>